{% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css" integrity="sha512-DJLNx+VLY4aEiEQFjiawXaiceujj5GA7lIY8CHCIGQCBPfsEG0nGz1edb4Jvw1LR7q031zS5PpPqFuPA8ihlRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css" integrity="sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-dark-grayscale>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0.49803921568627" />
                    <feFuncG type="table" tableValues="0 0.49803921568627" />
                    <feFuncB type="table" tableValues="0 0.49803921568627" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-grayscale>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-purple-yellow>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-blue-red>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 0.27843137254902" />
                    <feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-midnight>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0" />
                    <feFuncG type="table" tableValues="0 0.64705882352941" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-magenta-yellow>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.78039215686275 1" />
                    <feFuncG type="table" tableValues="0 0.94901960784314" />
                    <feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-purple-green>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.44705882352941 0.4" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-blue-orange>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.098039215686275 1" />
                    <feFuncG type="table" tableValues="0 0.66274509803922" />
                    <feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <div id=site-wrapper class=site-wrapper>
        <header  style="position:relative;background-color:black;" id=header class=site-header>
            <nav id=top-header-nav class="navbar navbar-expand-xl navbar-light">
                <a class=navbar-brand href="{% url 'index' %}"><img fetchpriority=high src="{% static 'images/logo.png' %}"
                        alt="Arm Solutions Web Development Company" style="width: 120px ;height:80px;"></a>
                <div class="collapse navbar-collapse collapse-block" id=navbarToggler>

                    <div id=navbarToggler1 class="collapse navbar-collapse collapse-block">
                        <ul id=menu-primary-menu class="navbar-nav ml-auto">
                          <li id=menu-item-293344
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293344 nav-item">
                                <a href="{% url 'index'%}" class=nav-link>Home</a>
                            </li>
                            <li id=menu-item-29344
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29344 nav-item">
                                <a href="{% url 'services'%}" class=nav-link>Services</a>
                            </li>
                            <li id=menu-item-430
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430 nav-item">
                                <a href="{% url 'work' %}" class=nav-link>Our Work</a>
                            </li>
                            <li id=menu-item-435
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-435 nav-item">
                                <a href="{% url 'company' %}" class=nav-link>Company</a>
                            </li>
                            <li id=menu-item-440
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-440 nav-item">
                            <a href="{% url 'contact' %}" class=nav-link>Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a  href=tel:07444106984 class="click-call gradient-text h5">07444106984</a>

            <button id="openNavbar" style="z-index:100000;color:white" type=button class="btn toggle-menu-btn" onclick="handleOpenNavbar()">
                <span class=bar-icon></span>
            </button>
            <i id="closeNavbar" onclick="handleCloseNavbar()" class="fa fa-times" style="cursor:pointer;color:white;font-size:1.8rem;display:none;" aria-hidden="true"></i>
        </nav>
    </header>
<script>
const navbar=document.getElementById("navbarToggler")
const navbar1=document.getElementById("navbarToggler1")
const openNavbar=document.getElementById("openNavbar")
const closeNavbar=document.getElementById("closeNavbar")
function handleOpenNavbar(){
navbar.style.display="flex";
navbar1.style.display="block"
navbar1.style.textAlign='center';
openNavbar.style.display='none'
closeNavbar.style.display='block'

}
function handleCloseNavbar(){
navbar.style.display="none";
navbar1.style.display="none"
openNavbar.style.display='block'
closeNavbar.style.display='none'

}
</script>

  <!-- Include the script at the end of the body -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get the current URL
        var currentUrl = window.location.href;

var menuItems = [
    { id: 'menu-item-29344', keyword: 'services' },
    { id: 'menu-item-430', keyword: 'work' },
    { id: 'menu-item-435', keyword: 'company' },
    { id: 'menu-item-440', keyword: 'contact' }
];

var isKeywordFound = false;

// Loop through each menu item
menuItems.forEach(function(item) {
    // Check if the current URL contains the keyword
    if (currentUrl.includes(item.keyword)) {
        // Get the <a> element inside the <li> with the specified id
        var linkElement = document.querySelector('#' + item.id + ' a');

        // Add the 'gradient-text' class
        if (linkElement) {
            linkElement.classList.add('gradient-text');
            isKeywordFound = true;
            return; // Exit the loop since we found a match
        }
    }
});


//if (!isKeywordFound && (currentUrl === '' || currentUrl === 'https://yourdomain.com/' || currentUrl === 'https://yourdomain.com')) {
if(!isKeywordFound && !(currentUrl.includes('privacy_policy')||currentUrl.includes('service'))){
    var homeLinkElement = document.querySelector('#menu-item-293344 a'); // Assuming this is the ID for the home menu item
    if (homeLinkElement) {
        homeLinkElement.classList.add('gradient-text');
    }
}
        });
    </script>
{% include 'includes/alert.html' %}
