 .async-hide {
            opacity: 0 !important
        }
    body {
            --wp--preset--color--black: #000;
            --wp--preset--color--cyan-bluish-gray: #abb8c3;
            --wp--preset--color--white: #fff;
            --wp--preset--color--pale-pink: #f78da7;
            --wp--preset--color--vivid-red: #cf2e2e;
            --wp--preset--color--luminous-vivid-orange: #ff6900;
            --wp--preset--color--luminous-vivid-amber: #fcb900;
            --wp--preset--color--light-green-cyan: #7bdcb5;
            --wp--preset--color--vivid-green-cyan: #00d084;
            --wp--preset--color--pale-cyan-blue: #8ed1fc;
            --wp--preset--color--vivid-cyan-blue: #0693e3;
            --wp--preset--color--vivid-purple: #9b51e0;
            --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
            --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
            --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
            --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
            --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
            --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
            --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
            --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
            --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
            --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
            --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
            --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
            --wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
            --wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
            --wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
            --wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
            --wp--preset--duotone--midnight: url('#wp-duotone-midnight');
            --wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
            --wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
            --wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
            --wp--preset--font-size--small: 13px;
            --wp--preset--font-size--medium: 20px;
            --wp--preset--font-size--large: 36px;
            --wp--preset--font-size--x-large: 42px
        }

        .has-black-color {
            color: var(--wp--preset--color--black) !important
        }

        .has-cyan-bluish-gray-color {
            color: var(--wp--preset--color--cyan-bluish-gray) !important
        }

        .has-white-color {
            color: var(--wp--preset--color--white) !important
        }

        .has-pale-pink-color {
            color: var(--wp--preset--color--pale-pink) !important
        }

        .has-vivid-red-color {
            color: var(--wp--preset--color--vivid-red) !important
        }

        .has-luminous-vivid-orange-color {
            color: var(--wp--preset--color--luminous-vivid-orange) !important
        }

        .has-luminous-vivid-amber-color {
            color: var(--wp--preset--color--luminous-vivid-amber) !important
        }

        .has-light-green-cyan-color {
            color: var(--wp--preset--color--light-green-cyan) !important
        }

        .has-vivid-green-cyan-color {
            color: var(--wp--preset--color--vivid-green-cyan) !important
        }

        .has-pale-cyan-blue-color {
            color: var(--wp--preset--color--pale-cyan-blue) !important
        }

        .has-vivid-cyan-blue-color {
            color: var(--wp--preset--color--vivid-cyan-blue) !important
        }

        .has-vivid-purple-color {
            color: var(--wp--preset--color--vivid-purple) !important
        }

        .has-black-background-color {
            background-color: var(--wp--preset--color--black) !important
        }

        .has-cyan-bluish-gray-background-color {
            background-color: var(--wp--preset--color--cyan-bluish-gray) !important
        }

        .has-white-background-color {
            background-color: var(--wp--preset--color--white) !important
        }

        .has-pale-pink-background-color {
            background-color: var(--wp--preset--color--pale-pink) !important
        }

        .has-vivid-red-background-color {
            background-color: var(--wp--preset--color--vivid-red) !important
        }

        .has-luminous-vivid-orange-background-color {
            background-color: var(--wp--preset--color--luminous-vivid-orange) !important
        }

        .has-luminous-vivid-amber-background-color {
            background-color: var(--wp--preset--color--luminous-vivid-amber) !important
        }

        .has-light-green-cyan-background-color {
            background-color: var(--wp--preset--color--light-green-cyan) !important
        }

        .has-vivid-green-cyan-background-color {
            background-color: var(--wp--preset--color--vivid-green-cyan) !important
        }

        .has-pale-cyan-blue-background-color {
            background-color: var(--wp--preset--color--pale-cyan-blue) !important
        }

        .has-vivid-cyan-blue-background-color {
            background-color: var(--wp--preset--color--vivid-cyan-blue) !important
        }

        .has-vivid-purple-background-color {
            background-color: var(--wp--preset--color--vivid-purple) !important
        }

        .has-black-border-color {
            border-color: var(--wp--preset--color--black) !important
        }

        .has-cyan-bluish-gray-border-color {
            border-color: var(--wp--preset--color--cyan-bluish-gray) !important
        }

        .has-white-border-color {
            border-color: var(--wp--preset--color--white) !important
        }

        .has-pale-pink-border-color {
            border-color: var(--wp--preset--color--pale-pink) !important
        }

        .has-vivid-red-border-color {
            border-color: var(--wp--preset--color--vivid-red) !important
        }

        .has-luminous-vivid-orange-border-color {
            border-color: var(--wp--preset--color--luminous-vivid-orange) !important
        }

        .has-luminous-vivid-amber-border-color {
            border-color: var(--wp--preset--color--luminous-vivid-amber) !important
        }

        .has-light-green-cyan-border-color {
            border-color: var(--wp--preset--color--light-green-cyan) !important
        }

        .has-vivid-green-cyan-border-color {
            border-color: var(--wp--preset--color--vivid-green-cyan) !important
        }

        .has-pale-cyan-blue-border-color {
            border-color: var(--wp--preset--color--pale-cyan-blue) !important
        }

        .has-vivid-cyan-blue-border-color {
            border-color: var(--wp--preset--color--vivid-cyan-blue) !important
        }

        .has-vivid-purple-border-color {
            border-color: var(--wp--preset--color--vivid-purple) !important
        }

        .has-vivid-cyan-blue-to-vivid-purple-gradient-background {
            background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important
        }

        .has-light-green-cyan-to-vivid-green-cyan-gradient-background {
            background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important
        }

        .has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
            background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important
        }

        .has-luminous-vivid-orange-to-vivid-red-gradient-background {
            background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important
        }

        .has-very-light-gray-to-cyan-bluish-gray-gradient-background {
            background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important
        }

        .has-cool-to-warm-spectrum-gradient-background {
            background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important
        }

        .has-blush-light-purple-gradient-background {
            background: var(--wp--preset--gradient--blush-light-purple) !important
        }

        .has-blush-bordeaux-gradient-background {
            background: var(--wp--preset--gradient--blush-bordeaux) !important
        }

        .has-luminous-dusk-gradient-background {
            background: var(--wp--preset--gradient--luminous-dusk) !important
        }

        .has-pale-ocean-gradient-background {
            background: var(--wp--preset--gradient--pale-ocean) !important
        }

        .has-electric-grass-gradient-background {
            background: var(--wp--preset--gradient--electric-grass) !important
        }

        .has-midnight-gradient-background {
            background: var(--wp--preset--gradient--midnight) !important
        }

        .has-small-font-size {
            font-size: var(--wp--preset--font-size--small) !important
        }

        .has-medium-font-size {
            font-size: var(--wp--preset--font-size--medium) !important
        }

        .has-large-font-size {
            font-size: var(--wp--preset--font-size--large) !important
        }

        .has-x-large-font-size {
            font-size: var(--wp--preset--font-size--x-large) !important
        }


        .bg-cover:not([style*="background-image:"]) {
            position: relative
        }

        .bg-cover:not([style*="background-image:"])>.bg-image {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: initial !important
        }

        html {
            box-sizing: border-box;
            scroll-behavior: smooth
        }

        .active-filters li span {
            background: #eceff1;
            color: #606060;
            margin-right: 16px;
            display: inline-block;
            font-weight: bold;
            padding: 4px 27px 3px 13px
        }

        ul.active-filters li {
            margin: 0 6px 10px 0;
            padding: 0;
            list-style: none;
            display: inline-block;
            position: relative;
            font-size: 16px
        }

        ul.active-filters {
            margin: 0;
            padding: 0
        }

        ul.active-filters li .svg-inline--fa {
            color: #b0bec5;
            display: inline-block;
            position: absolute;
            right: 24px;
            top: 8px;
            font-size: 13px;
            z-index: 3
        }

        ul.active-filters li .svg-inline--fa:hover {
            color: #d84315
        }

        .gform_fields .gfield.gform_hidden {
            display: none
        }

        .grecaptcha-badge {
            visibility: hidden;
            opacity: 0
        }

        .dropdown.hire-us .dropdown-menu.arrow-top {
            display: block;
            visibility: hidden
        }

        .dropdown.hire-us .dropdown-menu.arrow-top.show {
            visibility: visible
        }

        .google-recaptcha .gfield_label {
            display: none
        }

        .google-recaptcha {
            margin: 0 !important;
            padding: 0 !important;
            position: absolute;
            top: -9999px;
            left: -9999px
        }

        @media (max-width: 1023px) {
            body .fb_iframe_widget iframe {
                display: block
            }
        }

        .single-post .blog-single-content p img.alignright {
            display: inline-block;
            float: right;
            margin: 5px 5px 10px
        }

        .single-post .blog-single-content p img.alignleft {
            display: inline-block;
            float: left;
            margin: 5px 10px 5px 0
        }

        .single-post .blog-single-content p img.aligncenter {
            display: block;
            float: none;
            margin: 5px auto
        }

        .single-post .blog-single-content p img.alignnone {
            float: none;
            margin: 5px 05px 0
        }

        .dataTables_wrapper input.form-control,
        .dataTables_wrapper select.custom-select {
            height: 30px !important;
            vertical-align: middle
        }

        div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus,
        .dataTables_wrapper .page-item.active .page-link {
            background: #f1bc1e;
            border-color: #f1bc1e
        }

        .dataTables_wrapper .page-link:hover,
        .dataTables_wrapper .page-link {
            color: #3c3c3c
        }

        table.dataTable thead>tr>td.sorting,
        table.dataTable thead>tr>td.sorting_asc,
        table.dataTable thead>tr>td.sorting_desc,
        table.dataTable thead>tr>th.sorting,
        table.dataTable thead>tr>th.sorting_asc,
        table.dataTable thead>tr>th.sorting_desc {
            padding-right: initial !important
        }

        .form-control-sm {
            padding: .25rem .5rem;
            font-size: 1.5rem;
            line-height: 1.5;
            border-radius: .2rem
        }

        div.dataTables_wrapper div.dataTables_length select {
            width: 38px
        }

        .landing-pages-template-tpl-common-lp .block-marketing__text .img-wrap img {
            vertical-align: inherit
        }

        .banner__form .gform_body .gfield.google-captcha {
            height: 1px
        }

        .case-filter__groups .custom-control-label {
            cursor: pointer
        }

        .case-filter__groups .custom-control-label:hover {
            color: #ffc83e
        }

        .page-id-119 .services-offers {
            padding-bottom: 3.75rem
        }



        @media (max-width: 376px) {
            .contact-banner {
                background-image: url("{% static 'images/bg-contact.webp' %}") !important;
            }

            .page-id-119 .services-offers {
                padding-bottom: 1rem
            }

            .block-service-filter .title-wrap h2 br {
                display: none
            }
        }

        .text-wrap__top .float-left {
            padding-right: 10px
        }

        .ga-info__form-wrap .gfield.icon-adword:before {
            top: 2.7rem
        }

        @media (min-width: 575px) {
            .ga-info__form-wrap .gfield.icon-adword:before {
                top: 3.3rem
            }
        }

        @media (min-width: 576px) {
            .expert-testimonial__heading {
                max-width: 65.1rem
            }
        }

        .lp-paramus-marketing #reviews {
            background: #000
        }

        .footer__top #gform_wrapper_2 {
            display: block !important
        }

        .footer__top li#field_2_8 {
            display: none
        }

        .gform_wrapper .validation_error h2 {
            font-size: 1rem;
            margin: 0 auto
        }

        .navbar-light .navbar-nav .nav-link {
            font-weight: 600;
            font-size: 1.2rem
        }

        .footer__links li {
            padding: 0 10px 0 10px
        }


        @media (min-width: 1200px) {
            .site-header--alt+.site-content {
                padding-top: 5rem
            }

            .blog-categories .sorting ul li {
                margin: 0 1rem 1.1875rem
            }
        }

        .instagram-feed__body .sbi_item .sbi_photo_wrap>p {
            display: none
        }

        .industry-achivement__logos .image-wrap .google-partner {
            width: 100% !important
        }

        .ppc-services .img-wrap ul {
            align-items: center
        }

        .ppc-services .img-wrap ul li img {
            max-height: 100px;
            width: auto
        }

        .leadership-event .double-column__row:first-child .badge.bg-tertiary {
            display: none
        }

        .ga-info__form-wrap .multiselect:after {
            display: none
        }

        .block-case-result .case-result-list {
            padding: .938rem .9375rem 1.25rem;
            margin: 0
        }

        @media(min-width:576px) {
            .block-case-result .case-result-list {
                padding: .938rem 0 1.2rem
            }
        }

        .block-case-result .case-result-list li {
            width: 49%;
            display: inline-block;
            vertical-align: top
        }

        @media(min-width: 1200px) {
            .smm.ppc-services {
                padding-top: 4rem;
                padding-bottom: 4rem
            }
        }

        @media((min-width: 768px)) {
            .smm.ppc-services {
                padding-top: 4rem;
                padding-bottom: 4rem
            }
        }

        .block-marketing #esmm .img-wrap li {
            max-width: 40px
        }

        .footer__links li:last-child {
            padding-right: 0
        }

        .footer__links {
            text-align: right
        }

        @media(min-width: 992px) {
            .lp-digital-marketing .block-marketing__text {
                padding: 0
            }

            .post-template-default.single .site-wrapper {
                overflow: visible
            }

            .post-template-default .blog-single__bodyimage {
                position: sticky;
                top: 140px
            }
        }

        @media (min-width: 1500px) {
            .lp-digital-marketing .block-marketing__item:first-child .block-marketing__text {
                padding-left: 0
            }
        }

        .careers-team {
            display: none
        }

        @media(min-width: 768px) {
            .sticky-wrap.is-affixed .inner-wrapper-sticky {
                top: 0 !important
            }

            .sticky-wrap.is-affixed .mCSB_container {
                padding-top: 100px
            }
        }

        .postid-30164 #no-display.block-marketing__item,
        .postid-30049 #no-display.block-marketing__item,
        .postid-29878 #no-display.block-marketing__item,
        .postid-29822 #no-display.block-marketing__item,
        .postid-33164 #no-display.block-marketing__item {
            display: none
        }

        .has-top-bar section.case-studies--sub {
            padding-top: 40px
        }

        @media (max-width: 575.98px) {
            .careers-cta__item h3 {
                font-size: 1.8rem
            }

            .careers-cta__item .btn-primary {
                font-size: 1.5rem
            }
        }

        @media(min-width: 1500px) {
            .postid-30049 .block-marketing__item:last-child .block-marketing__media {
                text-align: left
            }
        }

        @media(min-width: 992px) {
            .postid-4170 .case-info .col-lg-6:first-child {
                flex: 0 0 35%;
                max-width: 35%
            }

            .postid-4170 .case-info .col-lg-6:last-child {
                flex: 0 0 65%;
                max-width: 65%
            }
        }

        .blog-single__bodytext .text-wrap__top h2 strong {
            font-weight: bold
        }

        @media (min-width: 768px) {
            .blog-single__bodytext .text-wrap__top h2 {
                font-size: 2.4rem
            }

            .blog-single__bodytext .text-wrap__top h3 {
                font-size: 1.7rem
            }

            .blog-single__bodytext .text-wrap__top {
                font-size: 1.2rem
            }
        }

        section.block-marketing.img-holder {
            text-align: center
        }

        @media(min-width: 1500px) {
            .block-marketing .container {
                max-width: 1440px
            }
        }

        .inner-banner__altpartner {
            max-width: 41rem
        }

        #field_2_24.gfield_error>span.multiselect-native-select .btn-group {
            display: none !important
        }

        .blog-single__bodytext .text-wrap__top .has-luminous-vivid-amber-background-color a {
            font-weight: normal
        }

        .blog-single__bodytext .text-wrap__top .has-luminous-vivid-amber-background-color a:hover {
            color: #003d66;
            text-decoration: underline
        }

        .blog .site-header--alt+.site-content,
        .archive.category .site-header--alt+.site-content {
            padding-top: 6.6625rem
        }

        @media (min-width: 768px) {

            .blog .site-header--alt+.site-content,
            .archive.category .site-header--alt+.site-content {
                padding-top: 6.1875rem
            }
        }

        @media (min-width: 1200px) {

            .blog .site-header--alt+.site-content,
            .archive.category .site-header--alt+.site-content {
                padding-top: 7.7rem
            }
        }

        html {
            scroll-behavior: smooth
        }

        .blog-single__bodycontent .services {
            scroll-margin-top: 50px
        }

        .blog-single__bodycontent ul {
            padding-left: 20px
        }

        span.badge.bg-tertiary {
            display: none
        }

        .footer__top-form {
            opacity: 1 !important;
            transform: translateZ(0)
        }

        @media (max-width: 575px) {

            .postid-32340 .inner-banner__altinfo,
            .postid-32339 .inner-banner__altinfo,
            .postid-33154 .inner-banner__altinfo,
            .postid-33164 .inner-banner__altinfo,
            .postid-33163 .inner-banner__altinfo,
            .postid-33162 .inner-banner__altinfo,
            .postid-33161 .inner-banner__altinfo,
            .postid-33160 .inner-banner__altinfo,
            .postid-33158 .inner-banner__altinfo,
            .postid-33157 .inner-banner__altinfo {
                padding-bottom: 15px
            }

            .postid-32340 .inner-banner__altinfo .inner-banner__image,
            .postid-32339 .inner-banner__altinfo .inner-banner__image,
            .postid-33154 .inner-banner__altinfo .inner-banner__image,
            .postid-33164 .inner-banner__altinfo .inner-banner__image,
            .postid-33163 .inner-banner__altinfo .inner-banner__image,
            .postid-33162 .inner-banner__altinfo .inner-banner__image,
            .postid-33161 .inner-banner__altinfo .inner-banner__image,
            .postid-33160 .inner-banner__altinfo .inner-banner__image,
            .postid-33158 .inner-banner__altinfo .inner-banner__image,
            .postid-33157 .inner-banner__altinfo .inner-banner__image {
                display: none
            }
        }

        .page-template-tpl-thought-leadership .masterclass-register {
            padding-top: 3rem
        }

        @media (min-width: 576px) {
            .landing-pages-template-tpl-ebook-lp .expert-cta__btn a {
                font-size: 1.5rem
            }
        }

        .page-id-33307 .services-features__content {
            border: none;
            background-color: transparent
        }

        .page-id-33307 .services-features {
            background: url('media/smartsites-benefits-of-influencer.jpg')
        }

        @media (min-width: 992px) {
            .page-id-33307 .services-features__item {
                -ms-flex-preferred-size: 33%;
                flex-basis: 33%;
                max-width: 33%;
                border: none
            }
        }

        .influencer-lp .img-wrap li {
            max-width: 40px
        }

    .site-header{
           background-color:black!important;
    }
